{% extends "base.html" %}
{% load static %}

{% block title %}Trainer{% endblock %}

{% block body %}

{{ hand.tree|json_script:"gameTree" }}
<script>const gameTree = JSON.parse(document.getElementById('gameTree').textContent);</script>

<p><script>document.write(JSON.stringify(gameTree))</script></p>

<div id="container">
    <div id="pokerTable">
        <div id="table">
            {% include "utils/split_board.html" with board=hand.hero_hole only %}
            <img class="card" src="{% static 'img/cards/back.png' %}">
        </div>
    </div>

    <div id="separator"></div>

    <div id="actionLog"></div>
</div>

<script>
    const actionLog = document.getElementById('actionLog');
    const consoleLog = [];

    function updateActionLog(value) {
        const newLog = `<p>${value}</p>`;
        consoleLog.push(newLog);
        actionLog.innerHTML = consoleLog.join('');
    }

    function popLastLog() {
        if (consoleLog.length > 0) {
            consoleLog.pop();
            actionLog.innerHTML = consoleLog.join('');
        }
    }
</script>

{% endblock %}
