{% extends "base.html" %}
{% load static %}
{% load display_board %}

{% block title %}Trainer{% endblock %}

{% block body %}

{{ hand.tree|json_script:"gameTree" }}
{{ spot.board|split_board|json_script:"gameBoard" }}
<script>
    const gameTree = JSON.parse(document.getElementById('gameTree').textContent);
    const gameBoard = JSON.parse(document.getElementById('gameBoard').textContent);
</script>

<p><script>document.write(JSON.stringify(gameTree))</script></p>

<div id="container">
    <div id="pokerTable">
        <table id="tableGrid">
            <tr class="stack">
                <td>H: <span id="heroStackValue">1000</span></td>
                <td class="bet-action" id="heroAction"></td>
                <td id="pot">Pot: <span id="potValue">800</span></td>
                <td class="bet-action" id="vilainAction"></td>
                <td>V: <span id="vilainStackValue">800</span></td>
            </tr>
            <tr>
                <td id="heroCards">
                    {% include "utils/split_board.html" with board=hand.hero_hole only %}
                </td>
                <td class="dealer-button">
                    {% if not hand.hero_is_oop %}
                    <img class="dealer-button" src="{% static 'img/dealer.png' %}">
                    {% endif %}
                </td>
                <td id="board">
                    <img class="card boardCard" id="boardCard0" src="{% static 'img/cards/back.png' %}">
                    <img class="card boardCard" id="boardCard1" src="{% static 'img/cards/back.png' %}">
                    <img class="card boardCard" id="boardCard2" src="{% static 'img/cards/back.png' %}">
                    <img class="card boardCard" id="boardCard3" src="{% static 'img/cards/back.png' %}">
                    <img class="card boardCard" id="boardCard4" src="{% static 'img/cards/back.png' %}">
                </td>
                <td class="dealer-button">
                    {% if hand.hero_is_oop %}
                    <img class="dealer-button" src="{% static 'img/dealer.png' %}">
                    {% endif %}
                </td>
                <td id="vilainCards">
                    <img class="card" src="{% static 'img/cards/back.png' %}">
                    <img class="card" src="{% static 'img/cards/back.png' %}">
                </td>
            </tr>
        </table>
    </div>

    <div id="separator"></div>

    <div id="actionLog"></div>
</div>

<script>
    const actionLog = document.getElementById('actionLog');
    const consoleLog = [];
    var boardNbCards = 0;

    function resetHand() {
        consoleLog.length = 0;
        actionLog.innerHTML = '';

        // Reset cards
        boardNbCards = 0;
        const cardElements = document.getElementsByClassName("boardCard");
        Array.from(cardElements).forEach(elem => {
            elem.src = "{% static 'img/cards/back.png' %}";
        });
        gameBoard.forEach(card => {addBoardCard(card);});

        // Reset stacks
        const actElements = document.getElementsByClassName("bet-action");
        Array.from(actElements).forEach(elem => {
            elem.src = "";
        });
        document.getElementById('heroStackValue').innerHTML = {{ spot.stack }};
        document.getElementById('vilainStackValue').innerHTML = {{ spot.stack }};
        document.getElementById('potValue').innerHTML = {{ spot.pot }};

    }

    function addBoardCard(card) {
        const cardImg = document.getElementById(`boardCard${boardNbCards}`);
        cardImg.src = `/static/img/cards/${card}.png`;
        boardNbCards++;
    }

    function updateActionLog(value) {
        const newLog = `<p>${value}</p>`;
        consoleLog.push(newLog);
        actionLog.innerHTML = consoleLog.join('');
    }

    function popLastLog() {
        if (consoleLog.length > 0) {
            consoleLog.pop();
            actionLog.innerHTML = consoleLog.join('');
        }
    }

    resetHand();
</script>

{% endblock %}
