#pokerTable {
    width: 75%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007200;
    border: 10px solid #4d2600;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    color: white;
    font-size: 15px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

#tableGrid {
    width: 100%;
    border-collapse: collapse;
}

#tableGrid td {
    padding: 10px;
    text-align: center;
}

.card {
    width: 48px;
    height: 76px;
}

img.dealer-button {
    width: 40px;
    height: 40px;
}

.stack {
    white-space: nowrap;
    font-size: 25px;
    color: white;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}
.bet-action {
    font-size: 16px;
    font-style: italic;
}

#container {
    display: flex;
}

#separator {
    width: 2px;
    background-color: #4d2600;
    margin: 20px;
}

#actionLog {
    flex-grow: 1;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#actionButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
